<template>
    <section class="text-center mt-3" v-if="municipios">
        <select @change="selectedMunicipio()" id="municipioID" v-model="key">
            <option value="" disabled selected>{{ $t('home.selectMunicipio')}}</option>
            <option v-for="municipio of municipios" :key="municipio.COD_GEO" :value="municipio.COD_GEO">{{ municipio.NOMBRE }}</option>
        </select>
    </section>
</template>

<script>
    import { mapState } from 'vuex';
    import axios from 'axios';

    export default {
        computed: mapState(['municipios']),
        data() {
            return {
                key: "",
            }
        },
        methods: {
            selectedMunicipio() {
                axios.get("https://www.el-tiempo.net/api/json/v1/provincias/" + this.$store.state.provinciaActual + "/municipios/" +  this.key + '/weather')
                .then((response) => this.$store.state.tiempos = response.data);
            }
        }
    }
</script>