<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">{{ $t('navbar.title')}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">{{ $t('navbar.home')}}</a>
            </li>
            <li class="nav-item">
                <div class="nav-link">Link de prueba</div>
            </li>
            </ul>
        </div>

        <div>
            <img @click="cambiarIdioma('es')" src="../assets/img/Flag-Spain.png" class="icon">
            <img @click="cambiarIdioma('en')" src="../assets/img/Flag-England.png" class="icon">
        </div>
    </nav>
</template>

<script>
    export default {
        methods: {
            cambiarIdioma(idioma) {
                this.$i18n.locale = idioma;
            }
        }
    }
</script>

<style>
    .icon {
    width: 50px;
    }
</style>
