<template>
    <section class="text-center mt-3">
        <select @change="selectedProvincia()" id="provinciaID" v-model="key">
            <option value="" disabled selected>{{ $t('home.selectProvincia')}}</option>
            <option v-for="provincia of provincias" :key="provincia.CODPROV" :value="provincia.CODPROV">{{ provincia.NOMBRE_PROVINCIA }}</option>
        </select>
    </section>
</template>

<script>
    import axios from 'axios';

    export default {
        mounted() {
            axios.get("https://www.el-tiempo.net/api/json/v1/provincias").then((response) => this.provincias = response.data);
        },
        data() {
            return {
                provincias: Object,
                key: "",
            }
        },
        methods: {
            selectedProvincia() {
                 axios.get("https://www.el-tiempo.net/api/json/v1/provincias/" + this.key + "/municipios").then((response) => {
                     this.$store.state.provinciaActual = this.key;
                     this.$store.state.municipios = response.data;
                 });
            }
        },
    }
</script>