<template>
    <div class="wrapper" v-if="tiempos">
        <div class="aligner">
            <div class="card-deck mt-2">
                <div class="card" v-for="dia of tiempos.prediccion.dia.slice(0,3)" :key="dia.id">
                    <div class="card-header">
                    {{ $t('time.date')}}: {{ dia["@attributes"].fecha }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ $t('time.temp')}}</h5>
                        <p class="card-text">{{ $t('time.maximum')}}: {{ dia.temperatura.maxima }} º</p>
                        <p class="card-text">{{ $t('time.minimum')}}: {{ dia.temperatura.minima }} º</p>

                        <h5 class="card-title">{{ $t('time.thermal')}}</h5>
                        <p class="card-text">{{ $t('time.maximum')}}: {{ dia.sens_termica.maxima }} º</p>
                        <p class="card-text">{{ $t('time.minimum')}}: {{ dia.sens_termica.minima }} º</p>

                        <h5 class="card-title">{{ $t('time.HR')}}</h5>
                        <p class="card-text">{{ $t('time.maximum')}}: {{ dia.humedad_relativa.maxima }}</p>
                        <p class="card-text">{{ $t('time.minimum')}}: {{ dia.humedad_relativa.minima }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    import axios from 'axios';

    export default {
        computed: mapState(['tiempos']),
        data() {
            return {
            }
        },
    }
</script>