<template>
  <section>
    <navegador></navegador>
    <provincia></provincia>
    <municipio></municipio>
    <tiempo></tiempo>
  </section>
</template>

<script>
  import navegador from './components/navegador.vue';
  import provincia from './components/provincia.vue';
  import municipio from './components/municipio.vue';
  import tiempo from './components/tiempo.vue';

  export default {
    components: {
      navegador,
      provincia,
      municipio,
      tiempo
    },
    data () {
      return {

      }
    }
  }
</script>

<style>
.wrapper {
  text-align: center;
}

.aligner {
  display: inline-block;
}
</style>
